<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer-Service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>

<header>
    <nav>
        <div class="ui huge menu">
            <div class="header item">Customer-Service</div>
        </div>
    </nav>
</header>
<main>
    <div class="ui container">
        <div class="ui divider"></div>
        <div class="ui grid">
            <div class="four wide column">
                <form id="customerForm" class="ui form">
                    <div class="field disabled">
                        <label>Customer ID</label>
                        <input name="id" type="text">
                    </div>
                    <div class="field">
                        <label>Customer Name</label>
                        <input name="name" type="text">
                    </div>
                    <div class="field">
                        <label>Customer Address</label>
                        <input name="address" type="text">
                    </div>
                    <button id="btnCancel" class="ui button" type="button">Cancel</button>
                    <button id="btnSave" class="ui teal button" type="submit">Save</button>
                </form>
            </div>
            <div class="twelve wide column">
                <div id="customerList" class="ui relaxed divided list"></div>
            </div>
        </div>
    </div>
</main>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="/app.js"></script>

</body>
</html>