<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer-Service</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
</head>

<body>

<header>
    <nav>
        <div class="ui huge menu">
            <a th:href="@{/}" class="header item">Customer-Service</a>
            <div class="right menu">
                <a class="connWebSocket ui item"><i class="circle green icon"></i>WebSocket</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="ui container">
        <div class="ui divider"></div>
        <div class="ui grid">
            <div class="four wide column">
                <form id="customerForm" class="ui form">
                    <div class="field disabled">
                        <label>Customer ID</label>
                        <input name="id" type="text">
                    </div>
                    <div class="field">
                        <label>Customer Name</label>
                        <input name="name" type="text">
                    </div>
                    <div class="field">
                        <label>Customer Address</label>
                        <input name="address" type="text">
                    </div>
                    <div class="ui fluid buttons">
                        <button name="btnCancel" class="ui button" type="button">Cancel</button>
                        <button name="btnSave" class="ui teal button" type="submit">Save</button>
                    </div>
                </form>
            </div>
            <div class="twelve wide column">
                <div id="customerList" class="ui relaxed divided list"></div>
            </div>
        </div>

        <!-- Confirmation Modal -->
        <div class="ui tiny modal confirmation">
            <div class="header"></div>
            <div class="content"></div>
            <div class="actions">
                <div class="ui negative button">No</div>
                <div class="ui positive button">Yes</div>
            </div>
        </div>

        <!-- Alert Modal -->
        <div class="ui tiny modal alert">
            <div class="header"></div>
            <div class="content"></div>
            <div class="actions">
                <div class="ui positive button">Ok</div>
            </div>
        </div>
    </div>
</main>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
<script src="/app.js"></script>

</body>
</html>